*{
    padding: 0;
    margin: 0;
    text-decoration-line: none;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    background-color: hsl(0, 0%, 8%);
    place-content: center;
    font-family: "Inter", sans-serif;
    display: grid;
    min-height: 100vh;
}

.card{
    background-color: hsl(0, 0%, 12%);
    max-width: 400px;
    border-radius: 10px;
    outline: 1px solid black;
    padding: 1.5rem;
    margin: 1rem;
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.card img{
    width: 75px;
    border-radius: 50%;
    margin-bottom: .5rem;
}

.card h1{
    margin: .5rem;
}

.card .place{
    color: hsl(75, 94%, 57%);
    margin: 1rem;
    font-weight: 800;
}

.card .intro{
    margin: 1rem;
}

.card ul{
    margin-top: 1.5rem;
}

.card ul li:not(:last-child){
    margin-bottom: 1rem;
}

.card ul li a{
    display: block;
    border-radius: .5rem;
    background-color: hsl(0, 0%, 20%);
    padding: 1rem;
    color: white;
    font-weight: 600;
}

.card ul li a:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}